<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>ALZHEIMERS Predictor</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/">ALZHEIMERS PREDICTOR</a>
				<nav>
					
					<a href="/index">Home</a>
					<a href="/login_form">Login</a>
					<a href="/signup_form">Sign up</a>
				
				</nav>
			</header>

		<!-- Nav -->
			
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>ALZHEIMERS PREDICTOR</h1>
					<p>An Application designed to predict Alzheimers Disease in Human Beings <br />
					designed by  and released under the Creative Commons License.</p>
				</div>
				<video autoplay loop muted playsinline src="{{ url_for('static',filename='intro.mp4') }}"></video>
			</section>

		<!-- Highlights -->
			
		
		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>ABOUT  ALZHEIMERS</h2>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p><b><font size="4">What Is Alzheimer's Disease?</font></b><br>

										Alzheimer’s disease is an irreversible, progressive brain disorder that slowly destroys memory and thinking skills and, eventually, the ability to carry out the simplest tasks.Alzheimer's disease is the most common cause of dementia.</p>
								</blockquote>
								
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p><b><font size="4">What are the Symptoms?</font></b><br>

										Memory loss is the key symptom of Alzheimer's disease. An early sign of the disease is usually difficulty remembering recent events or conversations. As the disease progresses, memory impairments worsen and other symptoms develop.</p>
								</blockquote>
								
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p><b><font size="4">How can Alzheimers be treated?</font></b><br>

										There is no cure or treatment as such for Alzheimers.Some drugs and medicines are introduced by the US govt that helps  individuals living with the disease and their caregivers to cope with symptoms and improve quality of life.</p>
								</blockquote>
								
							</div>
						</section>
					</div>
				</div>
			</section>
			


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						
						
						
						<section>
							
							<h4><center><font size="6">Follow Us on</font></center></h4>
							
								<a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter    </a>

								<a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a>

								<a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a>

								<a href="#"><i class="icon fa-github">&nbsp;</i>Github</a>
							
						</section>
					</div>
					<div class="copyright">
						&copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
            <script src="{{ url_for('static',filename='browser.min.js') }}"></script>
            <script src="{{ url_for('static',filename='breakpoints.min.js') }}"></script>
            <script src="{{ url_for('static',filename='util.min.js') }}"></script>
            <script src="{{ url_for('static',filename='main.js') }}"></script>
	</body>
</html>